@import './base.css';
@font-face {
  font-family:"DMSans-Regular" ;
  src: url("../assets/fonts/DMSans-Regular.ttf");
}

// body{
// font-family: "DMSans-Regular", sans-serif;
// }

.p-inputotp-input {
  height: 40px;
  width: 40px;
}

.p-inputotp-input:focus {
 box-shadow: none;
}

.p-password-input{
margin-bottom: -12px;
width: 100%;
border-radius: 6px;
}

.p-password-input:focus{
box-shadow: none;
}

.p-password-input::placeholder{
color: #696C71;
}
.custom-progressbar .p-progressbar-value {
    background-color: #384BD5; 
}


.p-steps .p-steps-item:before{
display: none;
}


.confirmemail {
    max-width: 460px;
}

.signup-container {
    max-width: 460px;
    padding-inline: 20px;
    margin-top: auto;
    margin-bottom: auto;
}